<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="fr.inria.wimmics" status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="fr.inria.corese.w3cJunitTestsGenerator" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="error">
		</Root>
	</Loggers>
	<Loggers>
		<Logger name="fr.inria.corese.w3cEarlRepportGenerator" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="error">
		</Root>
	</Loggers>
</Configuration>