log.txt
.flattened-pom.xml
*.class
target/
log/
.project
.classpath
.settings
.idea
*.iml
*.prefs
/kgtool/nbproject/
/kgenv/nbproject/
/persistency-tools/coresedb-benchmark/nbproject/
/persistency-tools/rdf-to-graph-neo4j/targetsave/
/kgram/nbproject/
