<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
    <display-name>KGRAM Web Service</display-name>
    <description>KGRAM Web Service</description>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RemoteProducerService</servlet-name>
        <display-name>RemoteProducerService</display-name>
        <description>Servlet for KGRAM  Web Service</description>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RemoteProducerRestService</servlet-name>
        <display-name>RemoteProducerRestService</display-name>
        <description>Servlet for KGRAM RestFul Web Service</description>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
            <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>fr.inria.edelweiss.kgramserver.webservice</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoteProducerService</servlet-name>
        <url-pattern>/RemoteProducerService.RemoteProducerServicePort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoteProducerRestService</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>180</session-timeout>
    </session-config>
</web-app>
