/*
 * Style for the result table of the SHACL validator
 */
.shacl-div {
	max-height: 75%;
	overflow: auto;
}
.shacl-div table { 
	table-layout: fixed;
	width: 100%;
	height: 200px;
}
.shacl-div table td {
	width: 33%; /* Assume there is three columns */
	overflow: auto;
}
/*
 *  Style for the tree layout of the ontology.
 */
.node circle {fill: #fff;stroke: steelblue;stroke-width: 3px;}
.node--leaf circle {}
.node--folded circle { fill: #fff; stroke: red; stroke-width: 4px; }
.node text { font: 12px sans-serif; }
.nodes circle.literal { fill: lightgreen ; }
.nodes circle.bnode   { fill: orange; }
.nodes circle.uri     { fill: lightblue; }
.nodes circle.other   { fill: blue; }
.nodes circle.main    { fill: green; }

/**
 *  path.rdfs_subclassof {stroke: lime;stroke-dasharray: 1,2,3,5,8;stroke-width:10px}
*/

.context-menu {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.context-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.context-menu a:hover {
    background-color: #ddd;
}


path.link {fill: none;stroke: lightgrey;stroke-width: 1px;}
path.rdfs_subclassof {stroke: yellow; }
path.rdfs_instanceof {stroke: green;stroke-dasharray: 3,3;}
path.rdfs_prop1 {stroke: blue;stroke-dasharray: 1,2,3;}
path.rdfs_prop4 {stroke: lime;stroke-dasharray: 1,2,3,5,8;stroke-width:10px}

g circle  { fill: #fff; stroke: steelblue; stroke-width: 2px; }
g.uri circle    { fill: #fff; stroke: steelblue;  }
g.literal circle{ fill: #fff; stroke: steelblue;  }
g.bnode  circle { fill: #fff; stroke: steelblue;  }
g.other  circle { fill: #fff; stroke: steelblue;  }
g.main  circle  { fill: #fff; stroke: steelblue;  }

g.individual circle {fill: #fff;stroke: green; }
g.property circle {fill: #fff;stroke: orange; }


text.literal { fill: lightgreen; }
text.main    { fill: green; }
text.other   { fill: blue; }
              
.links { fill: none; stroke: black; }
.links path.rdf  { stroke: blue; stroke-width: 0.3px; stroke-opacity: 10;}
.links path.rdfs { stroke: blue; stroke-width: 0.3px; stroke-opacity: 10;}
.links path.owl  { stroke: orange; stroke-width: 0.3px; stroke-opacity: 10;}

.links path.tiny    { stroke-width: 0.3px; stroke-opacity: 10;}
.links path.small   { stroke-width: 1px; stroke-opacity: 10;}
.links path.medium  { stroke-width: 2px; stroke-opacity: 10;}
.links path.high    { stroke-width: 3px; stroke-opacity: 10;}
.links path.huge    { stroke-width: 4px; stroke-opacity: 10;}


textPath.rdf  { fill: lightblue; }
textPath.rdfs { fill: lightblue; }
textPath.owl  { fill: orange; }

.hidden { visibility: hidden }

.s0 { background:lightgrey }
.s1 { background:lightblue }

.table tr:nth-child(even) { background:#fafafa }
.table tr:nth-child(odd)  { background:#eeeeee }
.table td { font-size: 13px }
.table tr > th { font-size: 13px }

.s1 {background-color:lightblue}
.s2 {background-color:lightgreen}

.color { color: #00428C ; 
         font-weight: bold }

.bold {
    font-weight: bold
  }

.fail {
    color:red;
    border-color: red
}

.tag {
    color:orange;
}

.provenance {
    color:grey;
}

.type {
    color:green
}

.literal {
    color: brown   
}

.kw {
    font-weight: bold;
    color:green
}

.panel-heading {
    color: black;
    background-color: lightgrey;
}

.panel {
    flex: 1 1 auto;
    border: 1px solid lightblue;
}

pre {
    font-size: 120%;
    font-weight: bold;
    line-height: 120%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-style: solid;
    border-left-width: 0.5em;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-color: #5C4DC4;
    color: #00428C;
    background-color: #E4E5E7;
} 

pre  a { 
     color: #00428C;
}

.shrink * {
    font-size: 15%;
}

.large * {
    font-size: 110%;
}

.border {   border-color: #5C4DC4;
    border-style: solid;
    border-left-width: thin;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
}

.right {text-align:right;}

.center {text-align:center;}

.top {vertical-align:top}

.year { text-align:center }

.year span {
    font-size:70%
}

.century {
  text-align:center; 
}

.day    {text-align:right;}

.month {  
    background-color: #E4E5E7;
} 

.calendar tr {
    vertical-align:top
}

.banner {
    width:100%
}

.select {
    display:inline-block; 
    width:200px
}

#map-canvas-old {
  height: 60% 
}

.maptiny {
   height: 25%  ;
   width:  50%
}

.mapsmall {
   height: 40%  
}

.mapmedium {
  height: 50%      
}

.maplarge {
   height: 100%            
}

 .head { 
    background-color: lightgrey ;
    text-align: center
  }
  
  .margin { 
    margin-left: auto;
    margin-right: auto; 
  }
  
  .hcentury {  
    width: 100%;
    background-color: #E4E5E7;
} 
  
.errors {
    border:solid;
	color:#000000;
	background-color:#ffec8b;
	display:table-cell;
}

.owlrl {
}

.owlel {
}

.owlql {
}


