
.s0 { background:lightgrey }
.s1 { background:lightblue }

.table tr:nth-child(even) { background:#fafafa }
.table tr:nth-child(odd)  { background:#eeeeee }
.table td { font-size: 13px }
.table tr > th { font-size: 13px }

.s1 {background-color:lightblue}
.s2 {background-color:lightgreen}

.color { color: #00428C ; 
         font-weight: bold }

.bold {
    font-weight: bold
  }

.fail {
    color:red;
    border-color: red
}

.tag {
    color:orange;
}

.provenance {
    color:grey;
}

.type {
    color:green
}

.literal {
    color: brown   
}

.kw {
    font-weight: bold;
    color:green
}

.panel-heading {
    color: black;
    background-color: lightgrey;
}

.panel {
    flex: 1 1 auto;
    border: 1px solid lightblue;
}

pre {
    font-size: 120%;
    font-weight: bold;
    line-height: 120%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-style: solid;
    border-left-width: 0.5em;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-color: #5C4DC4;
    color: #00428C;
    background-color: #E4E5E7;
} 

pre  a { 
     color: #00428C;
}

.shrink * {
    font-size: 15%;
}

.large * {
    font-size: 110%;
}

.border {   border-color: #5C4DC4;
    border-style: solid;
    border-left-width: thin;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
}

.right {text-align:right;}

.center {text-align:center;}

.top {vertical-align:top}

.year { text-align:center }

.year span {
    font-size:70%
}

.century {
  text-align:center; 
}

.day    {text-align:right;}

.month {  
    background-color: #E4E5E7;
} 

.calendar tr {
    vertical-align:top
}

.banner {
    width:100%
}

.select {
    display:inline-block; 
    width:200px
}

#map-canvas-old {
  height: 60% 
}

.maptiny {
   height: 25%  ;
   width:  50%
}

.mapsmall {
   height: 40%  
}

.mapmedium {
  height: 50%      
}

.maplarge {
   height: 100%            
}

 .head { 
    background-color: lightgrey ;
    text-align: center
  }
  
  .margin { 
    margin-left: auto;
    margin-right: auto; 
  }
  
  .hcentury {  
    width: 100%;
    background-color: #E4E5E7;
} 
  
.errors {
    border:solid;
	color:#000000;
	background-color:#ffec8b;
	display:table-cell;
}

.owlrl {
}

.owlel {
}

.owlql {
}
