body {
    font-family: Arial, sans-serif;
    margin-right: 80px;
    margin-left: 80px;
}

.bold { font-weight: bold }
.left { text-align: left }

p { text-align: justify }

#map-canvas {
    height: 100%;
    margin: 30px;
    padding: 30px       
}

.center { 
    margin-left: auto;
    margin-right: auto; 
}

h1,h2,h3,h4 { color: #00428C }

.s0 { background:lightgrey }
.s1 { background:lightblue }

.s1 {background-color:lightblue}
.s2 {background-color:lightgreen}

.color { color: #00428C ; 
         font-weight: bold }

.fail {
    color:red;
    border-color: red
}

.tag {
    color:orange;
}

.provenance {
    color:grey;
}

.type {
    color:green
}

.kw {
    font-weight: bold;
    color:green
}

.panel-heading { 
    color: black;
    background-color: lightgrey;
}

.panel {
    flex: 1 1 auto;
    border: 1px solid lightblue;
}
/*
.navbar-inverse {
    color: black;
    background-color: lightgrey;
    border-color: lightblue;
}
*/


pre {
    font-size: 120%;
    font-weight: bold;
    line-height: 120%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-style: solid;
    border-left-width: 0.5em;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-color: #5C4DC4;
    color: #00428C;
    background-color: #E4E5E7;
}         
