sphinx>=7.1.2
pydata_sphinx_theme>=0.14.4
babel>=2.9
packaging>=21.0
docutils<0.21,>=0.18.1
Jinja2>=3.0
sphinx-design==0.5.0
myst-parser==2.0.0
sphinxcontrib-mermaid==0.9.2
breathe==4.35.0
exhale==0.3.7
